| == Header Level 1
br
| === Header Level 2
br
| ==== Header Level 3
br
| ===== Header Level 4
br
br  
| This is a paragraph of text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut nulla eget lacus gravida rutrum. Fusce sit amet tellus arcu. Nam in accumsan diam. Etiam quis augue risus, eget molestie sapien. Fusce vehicula aliquet neque, in cursus tellus venenatis eget. Pellentesque in magna nisl, vel dapibus dolor. Nullam a ante vel libero vehicula aliquet et sit amet mauris. Morbi dapibus pellentesque nisi sit amet sagittis. Aenean mollis porttitor neque. Aenean cursus convallis feugiat. Quisque et nisi sed lectus mattis auctor non at eros..
br
br

| ==== Images
br
| image::http://placedog.com/200/200[]
br

| image::http://placedog.com/200/200[width=100]
br

| ==== Links
br
| http://google.com
br

| http://google.com[This is a link to Google]
br

| image::http://placedog.com/200/200[link="http://google.com"]
br


| ==== Text Foratting
br

| You may *bold* or _italicize_ your text.
br

| To run the server, execute `rake preview` form your terminal or command line.
br

| The following code is a block of code:
br

| ----
br
| $(function() {
br
|   alert("Ready!");
br  
| });
br
| ----
br
br
br

| Or quote someone:
br
br
| ____
br
| You miss 100% of the shots you don't take.
br
| ____
br

| ==== Unordered Lists
br
| * Bread
br
| * Milk
br
| * Eggs
br
br
br

| ==== Ordered Lists
br
| . One
br
| . Two
br
|   .. Sub Point 1
br
|   .. Sub Point 2
br
| . Three
br
br

| ==== Tables
br
br

| [options="header,footer"]
br
| |=======================
br
| |Col 1|Col 2      |Col 3
br
| |1    |Item 1     |a
br
| |2    |Item 2     |b
br
| |3    |Item 3     |c
br
| |6    |Three items|d
br
| |=======================
br
br
br
| ==== Special Characters
br
| (C) (R) (TM) -- ... -> <- => <= &#182;  
br