form(action='/repo/awestruct.org/images/test.png' method='post' enctype='multipart/form-data')
  input(type='file' name='content' id='content')
  input(type='hidden' name='binary' id='binary' value='true' )
  input(type='submit')
