<div class="panels" ng-init="init()">
  
  <div class="panel columns filespane">
    <ng-include src="'partials/filespane.html'"></ng-include>
  </div>

  <div class="panel columns editor">
    
    <div ng-hide="currentFile">
      <p>Please select a file from the left</p>
    </div>

    <div ng-show="currentFile">
      <div class="fileHeader row">
        <div class="columns large-4">
          <h3>{{currentFile}}</h3>
        </div>
        <div class="columns large-8 controls">
          <a href="#" class="button small secondary"><span>&bull;</span>Live Preview</a>
          <a class="button small success" ng-click="save()">Save</a>
          <a href="#" class="close tiny button" ng-click="closeFile()">&times; Close</a>
        </div>
      </div>
      Currently editing {{currentFile}}. You have {{openEditors | size}} files open.
    </div>
    
    <ng-include src="'partials/tools.html'"></ng-include>
    <div ui-ace scope-instance="editor">{{currentFile}}</div>


  </div>

  <div class="panel columns preview">
    Preview
  </div>

</div>
