@import url(start.css);
/* line 10, ../sass/app.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/app.scss */
html, body {
  height: 100%;
}

/*
 Base Styles
*/
/*
  Navigation
*/
/* line 28, ../sass/app.scss */
.top-bar {
  margin: 0;
  background: #5abe8a;
  border-bottom: 2px solid #54B381;
}
/* line 32, ../sass/app.scss */
.top-bar a {
  color: white;
  margin-left: 20px;
}

/* line 38, ../sass/app.scss */
.repoActions {
  margin-right: 10px;
}
/* line 40, ../sass/app.scss */
.repoActions .button {
  top: auto;
  background: #41a471;
  border: 0;
  font-weight: normal;
}
/* line 45, ../sass/app.scss */
.repoActions .button:hover {
  background: #cf4131;
}

/* line 54, ../sass/app.scss */
.ace_editor_wrapper {
  width: 100%;
  height: 100%;
  padding-top: 103px;
  /* accomodate for toolbar */
  margin-top: -103px;
  /* pesky resize handles */
}
/* line 59, ../sass/app.scss */
.ace_editor_wrapper * {
  resize: none;
}

/* line 62, ../sass/app.scss */
.ace_editor {
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
}

/* line 67, ../sass/app.scss */
.wrapper, [ng-view] {
  height: 100%;
}

/* line 71, ../sass/app.scss */
.wrapper {
  margin-top: -45px;
  padding-top: 45px;
}

/* line 76, ../sass/app.scss */
.panels {
  float: left;
  width: 100%;
  height: 100%;
  border: 0;
}
/* line 81, ../sass/app.scss */
.panels .panel {
  height: 100%;
  border: 0;
  border-right: 1px solid #ddd;
}

/*
  Files Pane
*/
/* line 93, ../sass/app.scss */
.filespane {
  border: 0;
  width: 10%;
  padding: 0;
}

/* line 98, ../sass/app.scss */
.filesList {
  color: #000;
  list-style: none;
  margin: 0;
  font-size: 11px;
}
/* line 103, ../sass/app.scss */
.filesList li {
  clear: both;
}
/* line 106, ../sass/app.scss */
.filesList a {
  float: left;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid #ddd;
  padding: 5px;
  color: #525252;
  -webkit-transition: padding 0.2s;
  -moz-transition: padding 0.2s;
  -o-transition: padding 0.2s;
  transition: padding 0.2s;
}
/* line 114, ../sass/app.scss */
.filesList a:hover, .filesList a.active {
  cursor: pointer;
  background: #fff;
  border-left: 1px solid #ff6b6b;
  padding-left: 10px;
}
/* line 123, ../sass/app.scss */
.filesList li.bar {
  background: #ff6b6b;
  color: white;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
}

/* line 132, ../sass/app.scss */
.fileHeader {
  padding: 20px 10px 0 10px;
  background: #fff;
  margin: 0;
  max-width: 100%;
}
/* line 137, ../sass/app.scss */
.fileHeader .columns {
  padding: 0;
}
/* line 140, ../sass/app.scss */
.fileHeader .close {
  background: none;
  border: 0;
  color: #5abe8a;
  padding: 0;
}
/* line 146, ../sass/app.scss */
.fileHeader h3 {
  margin: 0;
}
/* line 149, ../sass/app.scss */
.fileHeader .controls {
  text-align: right;
}

/* Buttons */
/* line 157, ../sass/app.scss */
.button {
  box-shadow: none;
}
/* line 159, ../sass/app.scss */
.button.success {
  background: #5ABE8A;
  border-color: #54B381;
}
/* line 162, ../sass/app.scss */
.button.success:hover {
  background: #54B381;
}

/* line 168, ../sass/app.scss */
.editor {
  padding: 0;
  width: 60%;
  resize: horizontal;
}

/* line 174, ../sass/app.scss */
.preview {
  width: 30%;
  resize: horizontal;
}

/* Toolbar */
/* line 182, ../sass/app.scss */
ul.tools li {
  width: 5.88235%;
  display: inline-block;
  margin: 0;
  position: relative;
  overflow: hidden;
}
/* line 189, ../sass/app.scss */
ul.tools li:hover {
  top: auto;
}
/* line 192, ../sass/app.scss */
ul.tools li:hover a {
  color: #cf4131;
}
/* line 195, ../sass/app.scss */
ul.tools .button {
  background: #fff;
  border-bottom: 0;
  padding: 10px 0px;
  color: black;
  font-size: 15px;
  margin: 0;
  float: left;
  color: #525252;
  border: 1px solid #ddd;
  border-right: 0;
  border-radius: 0;
  display: block;
  width: 100%;
  text-align: center;
}
/* line 210, ../sass/app.scss */
ul.tools .button:hover {
  color: #cf4131;
}
/* line 213, ../sass/app.scss */
ul.tools .button.inlineCode {
  font-size: 11px;
  padding: 12px 10px;
}
/* line 218, ../sass/app.scss */
ul.tools li:first-child a {
  border-left: none;
}
/* line 221, ../sass/app.scss */
ul.tools .filePicker {
  position: absolute;
  top: 0;
  z-index: 99;
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 0;
}

/* Table Grid */
/* line 235, ../sass/app.scss */
ul.tools li.tableGrid {
  overflow: visible;
}
/* line 237, ../sass/app.scss */
ul.tools li.tableGrid:hover ul {
  display: block;
}
/* line 240, ../sass/app.scss */
ul.tools li.tableGrid ul {
  position: absolute;
  width: 170px;
  display: none;
  background: #fff;
  z-index: 99;
  top: 100%;
  left: 0;
  margin: 0;
  border: 1px solid #ddd;
  border-top: 0;
}
/* line 251, ../sass/app.scss */
ul.tools li.tableGrid ul li {
  width: 100%;
  clear: both;
  display: block;
  border-bottom: 1px solid #F7F7F7;
  resize: none;
}
/* line 257, ../sass/app.scss */
ul.tools li.tableGrid ul li span.dot {
  display: block;
  border-right: 1px solid #F7F7F7;
  width: 12.5%;
  float: left;
  height: 20px;
  font-size: 40px;
  color: #ddd;
  line-height: 20px;
  text-align: center;
}
/* line 267, ../sass/app.scss */
ul.tools li.tableGrid ul li span.dot:hover {
  color: #ff6b6b;
}
/* line 270, ../sass/app.scss */
ul.tools li.tableGrid ul li span.dot.hover {
  background: #5abe8a;
}
/* line 276, ../sass/app.scss */
ul.tools li.tableGrid li.label {
  background: #fff;
  color: #525252;
}

/* Drag and Drop */
/* line 283, ../sass/app.scss */
div[dropzone] {
  border: 10px dashed #fff;
  text-align: center;
  font: 20px bold;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  z-index: 999;
  background: #5abe8a;
  display: none;
  opacity: 0.7;
}
/* line 297, ../sass/app.scss */
div[dropzone].hover {
  border-color: red;
}
/* line 300, ../sass/app.scss */
div[dropzone] h1 {
  color: white;
  padding-top: 48%;
}

/* line 306, ../sass/app.scss */
.hovering [dropzone] {
  display: block;
}

/*
  Messages
*/
/* line 314, ../sass/app.scss */
.alert-box {
  margin: 0;
  border-left: 0;
  border-right: 0;
  font-weight: normal;
}
/* line 319, ../sass/app.scss */
.alert-box strong {
  padding: 2px 5px;
  background: rgba(0, 0, 0, 0.2);
}
